@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

html, body {
	height:100%;
  background-color:white;
}

.header {
  background-color:#0288D1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);   
}

.header, .header a {
  color:white;
}

.container-fluid {
  height:100%;
}

h3 {
  font-weight:100;
  font-size:28px;
  margin-bottom:0px;
}

h3, .twitter-plug {
  font-family:'Roboto';
}

.twitter-plug {
  font-size:0.8em;
}